*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.debug{
  background-color: rgba(255, 0, 0, 0.25);
}

.menu-top{
  height: 30px;
}

.menu-top .item{
  background-color: rgb(122, 122, 122);
  color: white;
  padding: 5px;
  margin-right: 10px;
  font-size: 12px;
  border-radius: 5px;
}

main {
  height: calc(100vh - 110px);
  overflow: auto;
}

.flex-wrap{
  display: flex;
  flex-wrap: wrap;
}
.flex-end{
  display: flex;
  flex-direction: row-reverse;
}

main .container{
  justify-content: center;
  margin: 20px auto;
  width: 90vw;

}

.container .card{
  position: relative;
  margin: 2px;
  width: 200px;
  height: 150px;
  border-radius: 5px;
  overflow: hidden;
}

.container .card img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.container .card .name{
  position: absolute;
  bottom: 0px;
  height: 20px;
  color: white;
  font-size: 15px;
}

.menu-bottom{
  justify-content: space-between;
  height: 100px;
}

.menu-bottom .item{
  display: flex;
  height: 80px;
}

.icon{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  color: white;
  font-size: 12px;
}

.icon i {
  margin-bottom: 5px;
}

.icon span {
  font-size: 10px;
}

.menu-bottom .item.left{

}